@font-face {
  font-family: Vogue;
  src: url(Vogue.ttf);
}
@font-face {
  font-family: Forum-RdrM;
  src: url(Forum-RdrM.ttf);
}
h1 {
  font-family: Yellowed-Light;
}
h2 {
  font-family: Vogue;
}
h3 {
  font-family: Voguet;
  padding: 20px;
}
p {
  font-family: Forum-RdrM;
}

.textYellow {
  font-family: Yellowed-Light;
}
.textForum {
  font-family: Forum-RdrM;
}
body {
  background-color: #f3f0f3eb !important;
}

/* ---------------------------------------------------Header */

.tituloNavegacion {
  color: #dfd7cf;
  font-size: xxx-large;
}
/* ---------------------------------------------------Main */
/* Seccion 1 */

/* Seccion 2 */
.tituloSeccion2 {
  width: 270px;
}

.seccion2 {
  background-color: #dfd7cf;
}

.card-text {
  color: black;
}

/* Footer */
.footer {
  background-image: url("/img/Footerbc.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  /* Deja el fondo estatico */
  height: 600px;
}
.footer--contImagen {
  background-color: #dfd7cf;
}

/* ----------------------------------------- MEDIA QUERY */

@media (max-width: 743px) {
  /* Header */
  .headerMobile {
    background-image: url("/img/bcNav.jpeg");
    height: 210px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Yellowed-Light;
  }
  .headerDeskTablet {
    display: none;
  }
  .headerDeskTablet-Hisotoria {
    display: none;
  }
  .tituloNavegacion {
    display: none;
  }
  .NavDeskTablet {
    display: none;
  }
  .NavDeskTablet {
    display: none;
    background-color: rgba(255, 0, 0, 0);
  }
  .containerNoticias {
    flex-direction: column-reverse !important;
  }
  .imgseccion1 {
    width: 230px;
    height: 280px;
  }
  .seccion2 {
    display: none;
  }

  .ttituloSeccion2 {
    font-size: 15px;
  }
  .seccion3Contenedor1 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .seccion3Contenedor2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imgseccion3 {
    width: 350px;
    height: 195px;
  }

}

@media (min-width: 744px) {
  .headerDeskTablet {
    background-image: url("/img/bcNav.jpeg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .headerHistoriaDeskTablet {
    background-image: url("/img/bailetp3.jpeg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .headerRepartoDeskTablet {
    background-image: url("/img/Reparto/banner.png");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .headerMobile {
    display: none;
    background-color: rgba(255, 0, 0, 0);
  }
  .seccion2Mobile {
    display: none;
  }
  /* Seccion HISTORIA */

  /* Animacion agrandar img */

  .contenedor:hover .imgseccion3 {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  .contenedor {
    overflow: hidden;
  }

  .historia {
    color: black;
  }
  .card-historia {
    display: flexbox;
    text-align: center;
  }
  .card-body-historia {
    margin-top: 50%;
  }
  .card-img-top-temporada {
    height: 800px;
    width: 500px;
    align-items: center;
  }
  .temporadas {
    background-image: url("/img/Portada/temporada/1.jpeg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Seccion DESCUBRIR */

  .card-img-descubrir {
    height: 800px;
  }
  .contenedor:hover .card-img-descubrir {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .headerDescubrirDeskTablet {
    background-image: url("/img/Descubrir/banner.png");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 743px) {
  .card-img-top-temporada {
    width: 200px;
  }
  .seccion3historia {
    width: 345px;
  }
}
